button{
    width: 100%;
    display: block;
    background-color: #555;   
    border: 0;
    color: #fff;
    border-radius: 5px;
    padding: 7px 0;
    cursor: pointer;
}


button:active{
    scale: 0.95;
}