@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}



/* Light Mode Styles */
.light {
  /* --background:120, 200, 100; */
  --background: 245, 245, 245;
  --content: 0, 0, 0;
  --border: 212, 212, 212;
  --card: 206, 214, 210;
  /* --card: 150, 220, 120; */
  --logo:6, 6, 4;

  --copy-primary: 23, 23, 23;
  --copy-secondary: 115, 115, 115;

  --cta: 75, 0, 95;
  --cta-active: 124, 58, 237;
  
  --cta-text: 255, 255, 255;

  background: rgba(var(--background));
}

.dark {
  --background: 0, 0, 10;
  --content: 230, 230, 250;
  --border: 38, 38, 38;
  --card: 23, 23, 23;
  --logo:250, 252, 161;

  --copy-primary: 250, 250, 250;
  --copy-secondary: 115, 115, 115;

  --cta: 99, 102, 241;
  --cta-active: 79, 70, 229;
  --cta-text: 0, 0, 0;

  background: rgba(var(--background));
}

.custom-form{
  @apply bg-card text-content rounded-md flex flex-col justify-start items-center gap-3 md:gap-8 overflow-scroll overflow-x-hidden shadow-2xl ;
}

.form-heading {
  @apply text-4xl mb-4 font-semibold;
}

.form-button{
  @apply bg-cta text-white text-xl p-2 font-semibold hover:opacity-80 hover:text-black;
}

.form-input{
  @apply p-4 text-base placeholder:text-content rounded-md text-content bg-transparent border-cta focus:outline-cta font-semibold ;
}

/* .custom-form textarea{
  @apply text-2xl;
} */

.quil-container{
  @apply w-[98%] max-h-[500px] border-2 border-cta rounded-md overflow-scroll overflow-x-hidden relative;
}

.ql-editor {
  @apply text-xl; 
}

/* Customize the toolbar styles */
.ql-toolbar {
  @apply bg-gray-100 text-white ;
   
}


/* .blog-desc  p,h1,h2,h3,h4,h5,h6{
  @apply overflow-scroll;
} */

/* Hide scrollbar */
/* Hide the scrollbar completely */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #000000;
  border: 0px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #3b3b3b;
  border: 0px none #ffffff;
  border-radius: 73px;
}
::-webkit-scrollbar-track:hover {
  background: #4a4a4a;
}
::-webkit-scrollbar-track:active {
  background: #404040;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
